/* E5E5E5, 092E4E, 69C1D1 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #092E4E;
  --secondaryColor: #69C1D1;
  --grey: #E5E5E5;
  --heading: 'Poppins', sans-serif;
  --para: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #949494;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-select {
  font-size: 0.85rem;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

table thead {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background: var(--primaryColor) !important;
  border-radius: 10px;
}

table thead th {
  font-weight: 600 !important;
  color: #fefefe !important;
}

table tbody .emptyTable {
  display: none;
}

table tbody .emptyTable:first-child {
  display: table-row;
}

/* Address-bar */
.address-bar-wrapper {
  background: #E5E5E5;
}

.address-bar-wrapper .address-bar {
  padding: 0 1rem;
}

.address-bar-wrapper .address-bar ul {
  margin: 0;
  list-style-type: none;
}

.address-bar-wrapper .address-bar li {
  margin: 0 0.5rem;
  font-size: 0.85rem;
  display: inline-block;
}

.address-bar-wrapper .address-bar li a {
  color: var(--primaryColor);
  text-decoration: none;
}

/* Nav Bar */
.navigation {
  padding: 0.25rem 1rem;
}

.navigation .nav-logo {
  height: 3rem;
  overflow: hidden;
}

.navigation .nav-logo img {
  height: 100%;
  width: 100%;
}

.navigation .nav-search input {
  width: 25rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  background: #fefefe;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
}

.navigation .nav-search input::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.navigation .nav-search input:-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.navigation .nav-search input::-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.navigation .nav-search input::placeholder {
  color: #999;
  font-size: 0.9rem;
}

.navigation .nav-search button {
  border-radius: 5px;
  text-transform: uppercase;
  color: #fefefe;
  background: var(--primaryColor);
  border: 1px solid transparent;
}

.navigation .nav-search button:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: #fefefe;
}

.navigation .nav-buttons a:nth-child(1) {
  border-radius: 3px;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.navigation .nav-buttons a:nth-child(1):hover {
  color: #fefefe;
  background: var(--primaryColor);
}

.navigation .nav-buttons a:nth-child(2) {
  border-radius: 3px;
  color: #fefefe;
  background: var(--primaryColor);
  border: 1px solid transparent;
}

.navigation .nav-buttons a:nth-child(2):hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: #fefefe;
}

.alert {
  border-radius: 5px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.hero-wrapper .bar-graph {
  background: var(--primaryColor);
  width: 100%;
  padding-top: 2rem;
}

.hero-wrapper .bar-graph img {
  width: 100%;
}

.hero-wrapper .hero {
  background: var(--secondaryColor);
  overflow: hidden;
}

.hero-wrapper .hero .hero-img {
  height: 23rem;
  overflow: hidden;
}

.hero-wrapper .hero .hero-img img {
  -webkit-transform: translate(60%, 20%) rotateZ(-20deg);
          transform: translate(60%, 20%) rotateZ(-20deg);
  width: 55%;
  height: auto;
}

.hero-wrapper .hero .hero-content {
  -webkit-transform: translate(0, 45%);
          transform: translate(0, 45%);
  position: relative;
}

.hero-wrapper .hero .hero-content h2 {
  font-weight: 600;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.hero-wrapper .hero .hero-content a {
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  color: #fefefe;
  background: var(--primaryColor);
  border: 1px solid transparent;
}

.hero-wrapper .hero .hero-content a:hover {
  border: 1px solid var(--primaryColor);
  background: #051320;
}

/* Features Section */
.features-wrapper {
  max-width: 100%;
  padding: 4rem 0;
}

.features-wrapper ul {
  font-size: 1.3rem;
  list-style-type: none;
  color: var(--primaryColor);
}

.features-wrapper ul li {
  margin: 1rem 0;
}

/* Services Offered */
.services-wrapper {
  max-width: 100%;
  padding: 3rem 1.75rem;
  background: #F1F5F9;
}

.services-wrapper .services {
  padding: 1rem 1.5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-wrapper .services img {
  margin-bottom: 1.5rem;
}

.services-wrapper .services .services-inner {
  color: var(--primaryColor);
}

.services-wrapper .services .services-inner h5 {
  font-weight: 600;
}

.services-wrapper .services .services-inner hr {
  border-color: var(--primaryColor);
}

/* news Offered */
.news-div {
  max-width: 100%;
  padding: 3rem 1.75rem;
  background: var(--secondaryColor);
  overflow: hidden;
  text-align: center;
}

.news-div h4 {
  color: #fefefe;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.news-div .news {
  padding: 1rem 1.5rem;
}

.news-div .news img {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news-div .news .news-inner {
  padding: 2rem 1rem;
  border-radius: 10px;
  background: #fefefe;
  color: var(--primaryColor);
}

.news-div .news .news-inner h5 {
  font-weight: 600;
}

.news-div .news .news-inner hr {
  border-color: var(--primaryColor);
}

/* Support */
.support-wrapper {
  padding: 1.75rem;
  max-width: 100%;
  overflow: hidden;
}

.support-wrapper .support-inner {
  color: var(--primaryColor);
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.support-wrapper .support-inner h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.support-wrapper .support-inner a {
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  color: #fefefe;
  background: var(--primaryColor);
  border: 1px solid transparent;
}

.support-wrapper .support-inner a:hover {
  border: 1px solid var(--primaryColor);
  background: #051320;
}

.wrapper {
  width: 100%;
  background-color: var(--primaryColor);
  background-image: url("../images/graph_bottom.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.wrapper .landing-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper .landing-wrapper h2 {
  margin: 0;
  color: #009688;
  font-family: 'Lobster', cursive;
  font-size: 2.9rem;
}

.wrapper .landing-wrapper img {
  width: 20rem;
  margin: 2rem 0;
}

.wrapper .landing-wrapper a {
  border-radius: 5px;
  margin: 0 0.5rem;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #009688;
  background: #fff;
  border: 1px solid #009688;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .landing-wrapper a:hover {
  background: #009688;
  color: #fff;
}

.wrapper .row {
  margin: 0;
}

.wrapper .row .login-left {
  height: 100vh;
}

.wrapper .row .login-left .login-left-wrapper {
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .row .login-left .login-left-wrapper img {
  width: 30rem;
}

.wrapper .row .login-right .alert {
  border-radius: 5px;
}

.wrapper .row .login-right .login-right-wrapper {
  border-radius: 8px;
  padding: 1.5rem;
  background: #F1F5F9;
  width: 26rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .row .login-right .login-right-wrapper h5 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--primaryColor);
}

.wrapper .row .login-right .login-right-wrapper input[type=text], .wrapper .row .login-right .login-right-wrapper input[type=password], .wrapper .row .login-right .login-right-wrapper input[type=email] {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  background: #fefefe;
  border: 1px solid var(--primaryColor);
}

.wrapper .row .login-right .login-right-wrapper input[type=text]::-webkit-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=password]::-webkit-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=email]::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.wrapper .row .login-right .login-right-wrapper input[type=text]:-ms-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=password]:-ms-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=email]:-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.wrapper .row .login-right .login-right-wrapper input[type=text]::-ms-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=password]::-ms-input-placeholder, .wrapper .row .login-right .login-right-wrapper input[type=email]::-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.wrapper .row .login-right .login-right-wrapper input[type=text]::placeholder, .wrapper .row .login-right .login-right-wrapper input[type=password]::placeholder, .wrapper .row .login-right .login-right-wrapper input[type=email]::placeholder {
  color: #999;
  font-size: 0.9rem;
}

.wrapper .row .login-right .login-right-wrapper input, .wrapper .row .login-right .login-right-wrapper button, .wrapper .row .login-right .login-right-wrapper .btn {
  margin: 0.5rem 0;
  border-radius: 5px;
  width: 23rem;
}

.wrapper .row .login-right .login-right-wrapper .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: var(--primaryColor);
  text-align: center;
  height: 1em;
}

.wrapper .row .login-right .login-right-wrapper .hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--primaryColor)), to(transparent));
  background: linear-gradient(to right, transparent, var(--primaryColor), transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.5px;
}

.wrapper .row .login-right .login-right-wrapper .hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1em;
  color: #818078;
  background-color: #F1F5F9;
}

.wrapper .row .login-right .login-right-wrapper .submitBtn {
  font-family: var(--heading);
  background-color: var(--primaryColor);
  color: #fefefe;
}

.wrapper .row .login-right .login-right-wrapper .submitBtn:hover {
  background: #051320;
}

.wrapper .row .login-right .login-right-wrapper h6 {
  font-size: 0.85rem;
}

.wrapper .row .login-right .login-right-wrapper a {
  color: var(--primaryColor);
  font-size: 0.85rem;
}

.wrapper .row .login-right .login-right-wrapper .linkBtn {
  background: #fefefe;
  color: var(--primaryColor);
  font-size: 0.85rem;
  border-color: var(--primaryColor);
}

.wrapper .row .login-right .login-right-wrapper .linkBtn:hover {
  background: var(--primaryColor);
  color: #fefefe;
}

.nav-bottom {
  text-align: center;
  background: #E5E5E5;
}

.nav-bottom a {
  margin: 0;
  padding: 0.5rem 2.5rem;
  color: var(--primaryColor);
  border-right: 1px solid var(--primaryColor);
}

.nav-bottom a:hover {
  border-right: 1px solid var(--primaryColor);
  background: transparent;
  color: #051320;
}

.nav-bottom a:last-child {
  border-right: none;
}

.scanner-wrapper {
  background: url("../images/graph_bottom.png");
  background-color: var(--primaryColor);
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  padding: 1rem 0;
}

.scanner-wrapper .scanner-inner {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scanner-wrapper .scanner-inner h3 {
  text-transform: uppercase;
  font-family: var(--heading);
  color: #fefefe;
  font-weight: 600;
}

.scanner-wrapper .scanner-inner select, .scanner-wrapper .scanner-inner button {
  border-radius: 5px;
}

.scanner-wrapper .scanner-inner button {
  color: #fefefe;
  background: var(--secondaryColor);
}

.scanner-wrapper .scanner-inner button:hover {
  background: #4ba9b9;
}

.dashboard-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c2f0c2), color-stop(#fefefe), color-stop(#fefefe), to(#ffd6cc));
  background-image: linear-gradient(#c2f0c2, #fefefe, #fefefe, #ffd6cc);
}

.dashboard-wrapper h4 {
  margin: 1rem 0;
  text-align: center;
  font-family: var(--heading);
  font-weight: 600;
  color: var(--primaryColor);
}

.dashboard-wrapper table {
  background: #fefefe;
}

.search-form-wrapper {
  padding: 0 2rem;
}

.search-form-wrapper input[type=search] {
  text-transform: uppercase;
}

.search-form-wrapper .alert {
  width: 20rem;
  border-radius: 5px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Profile */
.profile-wrapper {
  padding: 2.5rem;
}

.profile-wrapper .profile {
  margin-left: 30%;
  width: 40%;
  border-radius: 5px;
}

.profile-wrapper .profile input {
  width: 100%;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  background: #fefefe;
  border: 1px solid #999;
  border-radius: 5px;
}

.profile-wrapper .profile input::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.profile-wrapper .profile input:-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.profile-wrapper .profile input::-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.profile-wrapper .profile input::placeholder {
  color: #999;
  font-size: 0.9rem;
}

.profile-wrapper .profile fieldset {
  padding: 3rem;
  border: 0.1rem solid #ccc;
  border-radius: 5px;
}

.profile-wrapper .profile legend {
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--primaryColor);
  font-family: var(--heading);
  font-weight: 600;
  width: auto !important;
}

.profile-wrapper .profile p {
  font-family: var(--para);
  font-size: 0.9rem;
  color: #1a1a1a;
}

.profile-wrapper .profile button {
  font-family: var(--heading);
  background-color: var(--primaryColor);
  color: #fefefe;
  border-radius: 5px;
}

.profile-wrapper .profile button:hover {
  background: #051320;
}

/* Footer */
.footer-wrapper {
  overflow: hidden;
  max-width: 100%;
  background: var(--primaryColor);
}

.footer-wrapper .footer-img img {
  height: 30rem;
}

.footer-wrapper .footer {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  text-align: center;
  color: #A9A9A9;
  font-family: var(--para);
}

.footer-wrapper .footer img {
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%);
  width: 35rem;
  margin: 1rem 0;
}

.footer-wrapper .footer h5 {
  margin: 2rem 0;
  line-height: 2rem;
}
/*# sourceMappingURL=style.css.map */